.github__count {
    display: flex;
    align-items: center;
    justify-content: center;

    &.warn span {
        background: $failure-color;
    }

    span {
        background: $success-color;
        border-radius: 50%;
        color: #fff;
        display: table-cell;
        font-size: 7rem;
        height: 13rem;
        line-height: 13rem;
        text-align: center;
        text-align: center;
        vertical-align: middle;
        width: 13rem;
        margin: 1rem;
    }
}
